<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dental_2021.Properties.Settings.baza_0ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\baza_0.accdb"
            providerName="System.Data.OleDb" />
      <add name="Dental_2021.Properties.Settings.baza_0ConnectionString1"
          connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\baza_0.accdb"
          providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>